name: CI for different Linux distributions

on:
  pull_request:
    branches:
      - master
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: download cmake
      run: |
        wget https://cmake.org/files/v3.18/cmake-3.18.2-Linux-x86_64.tar.gz
        tar xf cmake-3.18.2-Linux-x86_64.tar.gz
    - name: build
      run: |
        mkdir build && cd build
        ../cmake-3.18.2-Linux-x86_64/bin/cmake ..
        make
    - name: coderrect scan
      uses: coderrect-inc/coderrect-github-action@v0.5
      with:
        buildPath: "build"
        exit0: true
